:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background: #172121;
  color: #d9f0ff;
}

body {
  /* margin: 2rem; */
  /* border-radius: 2rem; */
  min-height: 100%;
  /* background: #d9f0ff; */
  border: inset 0.1rem #6f73d2;
  background: url('./images/spacegiphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 80%;
}

ul {
  list-style: none;
  margin: 2rem;
  padding: 0;
  /* background: #223f47; */
  border: inset 0.1rem #92b8ff;
}

ul li {
  margin: 0.5rem;
  padding: 0 0.25rem 0.5rem 0.25rem;
  background: #223f47;
  border: outset 0.1rem #92b8ff;
}

button {
  width: 4rem;
  height: 2rem;
}

input {
  margin: 0.1rem;
}

main {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.style-form {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.style-items {
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

h2 {
  color: #9197ae;
}

h3 {
  color: #9197ae;
}

.display-names {
  color: #9197ae;
  text-align: center;
}

.profileImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
}

.emergency-contact {
  color: #9197ae;
}

.error {
  color: #9197ae;
}

.job-description {
  margin: 1rem 0;
}

.be-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.wrap-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.body-of-info {
  text-align: justify;
}
