:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background: cornflowerblue;
}

body {
  margin: 2rem;
  border-radius: 2rem;
  min-height: 100%;
  background-image: url('https://giphy.com/embed/TxVVB6PfWMjE4');
  /* width= '480'
    height= '306' frameBorder= '0' class= 'giphy-embed'
    allowFullScreen></iframe><p><a href=
    'https://giphy.com/gifs/twitter-profile-simple-TxVVB6PfWMjE4'  */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  width: 4rem;
  height: 2rem;
}

main {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.style-form {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  /* width: 30%; */
}

.profileImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
}
